extends layout

include mixins/_parkCard
include mixins/_pagination

block content
  .inner
    h2= title
    .parks
      each park in parks
        +parkCard(park)
    +pagination(page, pages, count)
